.content {
    padding: 0 2rem;
    background-color: rgb(255, 255, 255);
}
header {
    padding: 1rem;
    display: flex;
    color: #ffffff;
    background: #a20000;
    box-shadow: 0 4px 3px rgba(255, 255, 255, 0.5);
    align-items: center;
}
header img {
    height: 4rem;
    margin-right: 0.3rem;
}
header h2 {
    font-size: 1.75rem;
    font-weight: 300;
}
